:root {
    --heading-text-color: darkblue;
    --border: 1px solid rgb(0 0 0 / 0.1);
    --font-color: #333;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
}

h2 {
    color: var(--heading-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    color: var(--font-color)
}

main {
    width: 840px;
}

.country-box {
    position: relative;
}

aside {
    width: 13rem;
    margin: 1rem;
    border: var(--border);
    padding: 10px;
    background-color: #eee;
    color: var(--font-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: var(--border);
    text-align: center;
    color: (--font-color);
}